<h3>
    <a href="/employee" class="btn btn-secondary"><i class="fa fa-plus"></i> New Employee</a>
    Employee List
</h3>
<table class="table table-striped">
    <thead>
        <tr>
            <th>Full Name</th>
            <th>Email</th>
            <th>Mobile</th>
            <th>City</th>
            <th></th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        {{#each list}}
        <tr>
            <td>{{this.fullName}}</td>
            <td>{{this.email}}</td>
            <td>{{this.mobile}}</td>
            <td>{{this.city}}</td>
            <td>
                <a href="/employee/{{this._id}}"><i><span class="fa fa-edit fa-lg" aria-hidden="true"></span></i></a>
                <a href="/employee/delete/{{this._id}}" onclick="return confirm('Are you sure to delete this Employee?')"><i><span
                            class=" fa fa-trash fa-lg" aria-hidden="true"></span></i></a>
            </td>
        </tr>
        {{/each}}
    </tbody>
</table>